<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "ru.tadapp.app"
        versionCode = "10"
        version     = "1.1.0">

    <name>BONNYшугаринг Евпатория</name>

    <description>
        Онлайн запись на приём к мастеру шугаринга в Евпатории.
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#007BFF" />


    <platform name="android">
        <icon src="res/android/icon/aa46b0077a196661095519b1e105d3e6.png" density="ldpi" />
        <icon src="res/android/icon/fcc6dfaf22b22ca03e608cf00cb9d1b1.png" density="mdpi" />
        <icon src="res/android/icon/2459798359d56fdbea832a4ab7dba261.png" density="hdpi" />
        <icon src="res/android/icon/ae00f6c3d3ae650eef2b2f276847a12b.png" density="xhdpi" />
        <icon src="res/android/icon/ce20e2e5730644b79ec16ca399557e2a.png" density="xxhdpi" />
        <icon src="res/android/icon/9698ba321df6d03bde990d961d8d1598.png" density="xxxhdpi" />

        <splash src="res/android/screen/351ef9d2239d8b11d3652d450beb0513.png" density="port-hdpi"/>
        <splash src="res/android/screen/1a9e7ce1e290807fbfb7091aaaa30689.png" density="port-ldpi"/>
        <splash src="res/android/screen/ec77c5a6f54b73a5e798e30365c1407a.png" density="port-mdpi"/>
        <splash src="res/android/screen/e6f5971e1d022099eb51a722a8dae2a1.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/6ce6c79c1e89233732b6617744158108.png" width="180" height="180" />
        <icon src="res/ios/icon/950f0660ad9bf67b117c1a273fe0c791.png" width="60" height="60" />
        <icon src="res/ios/icon/25fc5fcbc93f931495daca1f8ee6f2e6.png" width="120" height="120" />
        <icon src="res/ios/icon/a98d6fc41331546f1792bff2d6831332.png" width="76" height="76" />
        <icon src="res/ios/icon/41c8c471bbfac6f9cfd0e1794524843f.png" width="152" height="152" />
        <icon src="res/ios/icon/e724be5e8a292a9821793986779c6bbb.png" width="57" height="57" />
        <icon src="res/ios/icon/798ba2770f875fbaf7c68dc4b0c4553c.png" width="114" height="114" />
        <icon src="res/ios/icon/ff423b7910cdc42b49d90ae835d0a592.png" width="72" height="72" />
        <icon src="res/ios/icon/0b0b8ef5ef5202543c27e5ca8d97841e.png" width="144" height="144" />
        <icon src="res/ios/icon/3e4b7135dd53aded42acf1a295a5d929.png" width="167" height="167" />
        <icon src="res/ios/icon/d2074c060aeeda92ba7c03fcdf8824e9.png" width="29" height="29" />
        <icon src="res/ios/icon/f4b5337216fe4ae109c4b42c000d0e73.png" width="58" height="58" />
        <icon src="res/ios/icon/b5d300107dddfe1e3bb981529f228c6b.png" width="87" height="87" />
        <icon src="res/ios/icon/9f0e81de711d09cdb10c7ed967cef4a8.png" width="167" height="167" />

        <splash src="res/ios/screen/7e27580a533125ca41ea6b4a45d76c4d.png" />
        <splash src="res/ios/screen/a1b4a4747b4a1e938af93b34eae021ca.png" />
        <splash src="res/ios/screen/5acf8da217620669c3965d7b4dd465b6.png" />
        <splash src="res/ios/screen/1c39cd320220fb9587cd6a76b3648b34.png" />
        <splash src="res/ios/screen/55abd3bbd5ee3b2d707f2e6d04463987.png" />
        <splash src="res/ios/screen/60899c5025b52df76f0afcdfd978cdfb.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/9e471902f327153eb4aece7d3c87310b.png" target="StoreLogo" />
        <icon src="res/windows/icon/b95b8404669e1f625f82cbb2126b3e55.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/936ed6b53ef4d83ea21c9e6322d516a4.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/7b1f08aa03652787f5cdea5e020a1d7a.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/4878e24fa7c2ddd3a83f7e9b5fb81d0e.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/529cb7604c239858f81f0706c49f58aa.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/a1ae4cc267c72fc44d3a126ce471b1d4.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/b4899fe244b9687d70401d92a676c688.png" target="SplashScreen"/>
        <splash src="res/windows/screen/7f3284aced094b51ac939d5649061635.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>